/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1280px) {

    .boxed-btn,
    input[type="submit"],
    button[type="submit"] {
        padding: 12px 9px;
        font-size: 13px;
    }

    .mainmenu ul li a {
        padding: 12px 15px;
    }




    .single-service-box {

        font-size: 13px;

    }


}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.hero-area h1 {

	font-size: 27px;
}
    input[type="submit"],
    button[type="submit"] {
        padding: 16px 6px;
        
    }

    .mainmenu ul li a {

        padding: 12px 4px;
    }

    .single-service-box {
        padding: 6px;

    }

    .marketing-section h3 {
        font-size: 17px;
        margin-bottom: 0;
    }

    .marketing-section p {
        font-size: 10px;
    }

    .marketing-section .boxed-btn {
        margin: 0;
        font-size: 12px;
    }

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

    body {
        background-color: bisque;
    }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}